<p>LISTE DES MENTORS</p>
<table class="table table-bordered table-striped">

    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User_id</th>
        <th scope="col">Spécialité</th>
        <th scope="col">Actions</th> <!-- Nouvelle colonne pour les actions -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mentor of mentors">
        <td>{{ mentor.id }}</td>
        <td>{{ mentor.user.id }}</td>
        <td>{{ mentor.specialite }}</td>
        <td>
          <!-- Boutons Modifier, Supprimer et Activer/Désactiver pour chaque mentor -->
          <button class="btn btn-primary" (click)="editMentor(mentor)">
            <i class="bi bi-pencil"></i> 
          </button>
          <button class="btn btn-danger" (click)="confirmDeleteMentor(mentor)">
            <i class="bi bi-trash"></i> 
          </button>
          
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Formulaire de modification (masqué par défaut) -->
  <div *ngIf="selectedMentor">
    <h4>Modifier le mentor</h4>
    <form (submit)="updateMentor()">
      <label>User_id:</label>
      <input type="text" [(ngModel)]="selectedMentor.user.id" name="user.id">
      
      <label>Spécialité:</label>
      <input type="text" [(ngModel)]="selectedMentor.specialite" name="specialite">
      <button type="submit" class="btn btn-success">Enregistrer</button>
    </form>
  </div>
