<app-header></app-header>
<div class="mentor-container">
 <app-sidebar></app-sidebar>
  
  <div class="admin-content">
    <h1>Liste des Mentors</h1>
    <!-- Le reste de votre contenu de la page -->
    <button class="btn btn-primary" (click)="openEditMentor()">Ajouter un mentor</button>
    <br /><br />

<table class="table table-bordered table-striped">

    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <!-- <th scope="col">User_id</th> -->
        <th scope="col">Spécialité</th>
        <th scope="col">Actions</th> <!-- Nouvelle colonne pour les actions -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mentor of mentors">
        <td>{{ mentor.id }}</td>

        <td>{{ mentor.specialite }}</td>
        <td>
          <div class="action-buttons">
          <!-- Boutons Modifier, Supprimer et Activer/Désactiver pour chaque mentor -->
          <button class="btn btn-primary" (click)="editMentor(mentor)">
            <i class="bi bi-pencil"></i> 
          </button>
          <button class="btn btn-danger" (click)="confirmDeleteMentor(mentor)">
            <i class="bi bi-trash"></i> 
          </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
     <!--Pagination-->
     <mat-paginator [length]="mentors.length"
     [pageSize]="10"
     (page)="loadMoreMentors($event)"
     [pageSizeOptions]="[10, 20, 50]">
</mat-paginator>

  <!-- Formulaire de modification (masqué par défaut) -->
  <div *ngIf="selectedMentor">
    <h4>Modifier le mentor</h4>
    <form (submit)="updateMentor()">
    
      <label>Spécialité:</label>
      <input type="text" [(ngModel)]="selectedMentor.specialite" name="specialite">
      <button type="submit" class="btn btn-success">Enregistrer</button>
    </form>
  </div>
