<div class="search-bar">
    <input type="text" placeholder="Rechercher..." [(ngModel)]="searchTerm" (input)="filterCareers(); filterFormations()">
    <button class="search-button">Rechercher</button>
    <button mat-icon-button class="logout-icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</div>

<div class="notification-icon">
    <button class="btn-envelope" (click)="openMessageDialog()">
      <i class="bi bi-envelope"></i>
      <span *ngIf="unreadMessagesCount > 0" class="notification-badge">{{ unreadMessagesCount }}</span>
    </button>
  </div>
  
  <!-- Le reste de votre contenu HTML -->
  
<!-- Reste de votre contenu -->

<div class="container" >

    <br><br>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="welcome-box text-center" >
                <h1 class="font-weight-bold">Bienvenue, {{ username }} <br> es-tu pret a découvrir le métier 
                qui te correspond le mieux ?</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="welcome-box text-center">
                <div class="scrollable-container">
                    <div class="column" (click)="navigateToQuestionPage()">
                        <h2>Vois un peu plus claire dans tes choix<br> en repondant a ses questions!</h2>
                        <div class="progress-bar">
                            <div class="progress" [style.width.%]="progress">
                                {{ progress.toFixed(2) }}%
                            </div>
                        </div>
                    <!-- Ajoutez d'autres colonnes au besoin -->
                </div>
            </div>
        </div>
    </div>
</div>


<br>
    
    <h1 class="font-weight-bold">Carrières disponibles</h1>
<div class="scrollable-careers">
    <div class="career-row">
        <div class="career-card" *ngFor="let career of filteredCareers; let i = index" (click)="viewCareerDetails(career.nom)" [style.backgroundImage]="'url(' + career.image + ')'">
            <h2>{{ career.nom }}</h2>
        </div>
    </div>
</div>

        <br>
        <h1 class="font-weight-bold">Formations disponibles</h1>
        <div class="scrollable-formations">
            <div class="formtion-row">
                <!-- Répétez cette colonne pour chaque formation -->
                <div class="formation-card"  [style.backgroundImage]="'url(' + formation.image + ')'" *ngFor="let formation of filteredFormations; let i = index" [ngClass]="'formation-card-' + (i + 1)" (click)="viewFormationDetails(formation.titre)">
                    <h2>{{ formation.titre}}</h2>
            
            <!-- Autres détails de la formation -->
        </div>
        
    </div>
</div>

