.header_section {
  width: 100%;
  float: left;
  background-color: #000000;
  height: auto;
  padding-bottom: 0;
  border-top: 25px solid #000000;
}

.logo {
  width: 40%;
  float: left;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  margin-left: 25px
}

.menu_text {
  width: 100%;
  float: left;
  padding-top: 25px;
}

.menu_text ul {
  margin: 0px;
  padding: 0px;
}

.menu_text li {
  float: left;
  padding-right: 120px;
  font-size: 18px;
  color: #ffffff;
}

.menu_text li a {
  color: #ffffff;
}

.menu_text li.active a{
  color: #f5f4f1;
}


.menu_text li a:hover {
  color: #aaa9a9;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(175, 170, 170);
  background-color: rgba(194, 181, 181, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.toggle_menu {
  top: -15px;
  position: relative;
  left: 85px;
}


.hero-text {
  max-width: 800px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.cta {
  background-color: #007bff;
  color: #fff;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.cta:hover {
  background-color: #0056b3;
}


.about_section{
  width: 100%;
  float: left;
}

.about_text{
  width: 100%;
  float: left;
  font-size: 46px;
  color: #9fa4a5;
  font-weight: bold;
}

.lorem_text {
 width: 100%;
 float: left;
 font-size: 18px;
 color: #323131;
 margin-left: 0px;
 margin-top: 0;
}

.read_bt {
 width: 100%;
 float: left;
}

.read_bt a {
 width: 30%;
 float: left;
 font-size: 20px;
 color: #ffffff;
 text-align: center;
 background-color: #9fa4a5;
 padding: 8px;
}

.read_bt a:hover{
  color: #ffffff;
  background-color: #8b8989;
}

.image_8{
  width: 100%;
  float: left;

}

.realestates-section {
  width: 100%;
  float: left;
}

.realestates-bg {
  width: 100%;
  float: left;
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.realestates-title {
  font-size: 46px;
  color: #9fa4a5;
  font-weight: bold;
  text-align: center;
}

.contrary-title {
  font-size: 18px;
  color: #484847;
  text-align: center;
}

.realestates-section-2 {
  margin-top: 40px;
}

.images-4,
.images-5,
.images-6 {
  width: 100%;
  float: left;
  height: 300px; /* Ajustez la hauteur selon vos besoins */
  overflow: hidden;
}

.images-7 {
  width: 100%;
  float: left;
  height: 100%;
}

.new-text {
  font-size: 24px;
  color: #ffffff;
  position: absolute;
  padding-top: 20px;
  padding-left: 15px;
  font-family: Apple Chancery;
}

.home-taital-main {
  width: 100%;
  float: left;
  background-color: #9fa4a5;
  padding: 35px 0px;
  position: relative;
  top: -80px;
}

.home-taital-main:hover,
.home-taital-main.active {
  background-color: rgba(166, 171, 172, 0.9);
}

.home-text {
  font-size: 34px;
  color: #fdfdfc;
  text-align: center;
}

.price-text {
  font-size: 34px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.price-text.active {
  color: #000;
}

.price-text:hover {
  color: #000;
}



.properties_section{
  width: 100%;
  float: left;
}

.properties_text{
  width: 100%;
  float: left;
  font-weight: bold;
  font-size: 46px;
  color: #323131;
  text-align: center;
}

.ipsum_text{
  width: 100%;
  float: left;
  font-size: 18px;
  text-align: center;
  color: #484847;
  margin-left: 0px;
}

.properties_section_2 {
 width: 75%;
 margin: 0 auto;
 text-align: center;
}

.custom_box-style {
 background-size: 100%;
 background-repeat: no-repeat;
 clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
 height: 350px;
 width: 450px;
}

.images_main {
  width: 100%;
  float: left;
 padding-top: 40px;
}

.images_left {
 float: left;
 background-image: url(/assets/job.png);
 margin-right: -290px;
}

.images_middle{
 float: left;
 background-image: url(/assets/job.png);
 position: relative;
 z-index: 1;
}

.images_right{
 
 float: left;
 background-image: url(/assets/job.png);
 margin-left: -290px;
}

.images_left:hover{ position: relative; z-index: 2; }
.images_middle:hover{ position: relative; z-index: 0; }
.images_middle:hover{ position: relative; z-index: 0; }




.contact_section {
  width: 100%;
  float: left;
  background-image: url(/assets/blanc.png);
  height: auto;
  padding-bottom: 90px;
}

.contact_text{
   width: 100%;
   float: left;
   font-size: 46px;
   font-weight: bold;
   color: #81817e;
}

.contact_section_2 {
  width: 100%;
  float: left;
  background-color: rgb(27,27,28,0.9);
  border-radius: 20px;
}

.mail_main {
   width: 100%;
   float: left;
  height: auto;
  padding: 40px 40px 40px 40px;
  margin-top: 30px;
}

.email-bt {
  background-color: #ffffff;
  border: none;
  color: #c5c5c5;
  width: 100%;
  height: 50px;
  font-size: 16px;
  border-bottom: 1px solid #ffffff;
  padding: 0px 20px;
}

input.email-bt::placeholder {
  color: #c5c5c5;
}

textarea#comment::placeholder {
  color: #c5c5c5;
}

.massage-bt {
  background-color: #ffffff;
  border: none;
  color: #c5c5c5;
  width: 100%;
  height: 75px;
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid #ffffff;
  padding-left: 0px;
  padding: 20px 20px;
}

.send_btn {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

.main_bt {
  width: 100%;
  float: left;
}

.main_bt a {
  background: #7c7c7a;
  border: none;
  color: #fff;
  height: 50px;
  font-size: 22px;
  width: 90%;
  float: left;
  text-align: center;
  padding-top: 5px;
}

.main_bt a:hover {
  background-color: #ffffff;
  color: #000;
}

.waye_main {
  width: 80%;
  float: left;
  background-color: #ffffff;
  border-radius: 200px;
  height: auto;
  padding: 80px 0px;
  text-align: center;
  margin-top: 73px;
  margin-left: 40px;
}
.waye_taital {
  width: 100%;
  float: left;
  font-size: 80px;
  color: #171819;
  text-align: center;
  font-weight: bold;
}

.waye_text {
  width: 100%;
  float: left;
  font-size: 24px;
  color: #8b8b87;
  text-align: center;
  margin-left: 0px;
  margin-top: 0px;
}

.best_text {
  width: 100%;
  float: left;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

.form-group {
  margin-bottom: 2rem;
}


.footer_section {
  width: 100%;
  float: left;
  background-color: #949390;
  height: auto;
  padding-bottom: 90px;
}

.addres_text{
   width: 100%;
   float: left;
   font-size: 24px;
   color: #f2f2f2;
}

.call_text {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #f2f2f2;
  line-height: 40px;
}

.padding_left_0{
   padding-left: 10px;
}

.footer_menu{
   width: 100%;
   float: left;
}

.footer_menu ul{
   margin: 0px;
   padding: 0px;
}

.footer_menu li{
   font-size: 18px;
   color: #ffffff;

}

.footer_menu li a{
   color: #ffffff;
}
.footer_menu li a:hover{
   color: #343232;
}

.footer_menu li.active a {
  color: #343232;
}

.email_text {
  width: 100%;
  float: left;
  font-size: 18px;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #efeded;
  padding-right: 20px;
  color: #000;
}

input.email_text::placeholder {
  color: #efeded;
}

.subscribe_bt {
  width: 45%;
  float: left;
  font-size: 18px;
  background-color: #323131;
  border: 0px;
  color: #efeded;
  text-align: center;
  padding: 10px 0px;
  margin-top: 30px;
}

.social_icon{
   width: 100%;
   float: left;
}

.social_icon ul{
   margin: 0px;
   padding: 0px;
}

.social_icon li{
   float: left;
   padding-right: 18px;
   margin-top: 30px;
}

.border_left_0{
   border-left: 1px solid #ddca79;
}


.copyright_section{
  width: 100%;
  float: left;
  background-color: #000000;
  height: auto;
}

.copyright_text{
  width: 100%;
  float: left;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  margin-left: 0px;
}

.copyright_text a{
  color: #a09f9a;
}

.copyright_text a:hover{
  color: #ffffff;
}




.banner_section {
  width: 100%;
  float: left;
  background-image: url('/assets/home.jpg');
  height: 120vh; /* Utilisez 100vh pour spécifier que la section doit occuper 100% de la hauteur de la fenêtre visible */
  background-size: cover; /* Ajuster la taille de l'image pour couvrir complètement la section */
  background-position: center; /* Centrer l'image horizontalement et verticalement dans la section */
  background-repeat: no-repeat;
}

.taital_main::after {
  display: block;
  background-image: url(/assets/neige.png);
  height: 573px;
  width: 26%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.banner_main{
   width: 100%;
   float: left;
}

.taital_main {
  width: 100%;
  float: left;
  padding-top: 150px;
  
  padding-bottom: 236px;
  position: relative;
  z-index: 0;
  transform: skew(-20deg);
  left: -128px;
}



.contrary_text {
  width: 66%;
  float: left;
  font-size: 18px;
  color: #ffffff;
  margin-left: 0px;
  font-family: Noto Serif;
  padding-left: 50px;
}

.btn_main {
  width: 90%;
  float: left;
  margin-left: 100px;
}

.btn_main .active a {
  color: #ffffff;
  background-color: #adaca7;
}
.btn_main li a {
  float: left;
  padding-right: 0;
  background-color: #ffffff;
  color: #000;
  text-align: center;
  margin-right: 12px;
  /* height: 53px; */
  padding: 10px 50px;
  font-size: 14px;
}
.btn_main ul{
  margin: 0px;
  padding: 0px;
}
.btn_main li a:hover {
 // background-color: #c2a20e;
  color: #ffffff;
}

.taital_main > * {
  transform: skew(20deg);
  position: relative;
  left: 280px;
}

.way_main{
   width: 100%;
   float: left;
   padding-top: 550px;
}

.way_main_text {
  width: 66%;
  float: right;
}

.way_main_text .active a {
  color: #ffffff;
  background-color: #92918e;
}
.way_main_text li a {
  float: left;
  padding-right: 0;
  background-color: #ffffff;
  color: #000;
  text-align: center;
  padding: 15px 30px;
  font-size: 26px;
}
.way_main_text ul{
  margin: 0px;
  padding: 0px;
}
.way_main_text li a:hover {
  background-color: #a7a5a0;
  color: #ffffff;
}

.way_text{
   width: 100%;
   float: left;
   font-size: 24px;
   color: #ffffff;
   text-align: center;
}

.image_1 {
  width: 100%;
  float: left;
  position: absolute;
  top: 213px;
  left: 40px;
}

.header_section::after {
  display: block;
  border-bottom: 5px solid #000000;
  height: 0px;
  width: 80%;
  content: "";
}

