<div class="header_section">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3">
            <img src="/assets/logo.png" alt="Logo" class="logo">  
          </div>
          <div class="col-md-9">
              <div class="menu_text">
                  <ul>
                    <li class="active"><a href="index.html">ACCUEIL</a></li>
                      <!-- <li><a href="about.html">ABOUT</a></li> -->
                      <li><a routerLink="/connexion">CONNEXION</a></li>
                      <li><a routerLink="/register">INSCRIPTION</a></li>
                      <li><a href="#contact-section">CONTACTEZ-NOUS</a></li>
                  </ul>
              </div>  
              <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                  <a href="/home">HOME</a>
                  <a href="/connexion">LOGIN</a>
                  <a href="/register">REGISTER</a>
                  <a href="class.html">CONTACT US</a>
                </div>
              </div>
             
          </div>
      </div>
  </div>
</div>

<!--Banner-->

<div class="banner_section">
  <div class="banner_bg">
    <div class="banner_main">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                    <div class="col-sm-7 padding_0">
                      <div class="taital_main">
                       
                      </div>
                     
                    </div>
                    
                      </div>
                        </div>
                    <div class="carousel-item">
                        <div class="container-fluid"></div>
                            <div class="row">
                        <div class="col-sm-7 padding_0">
                        
                        </div>
                        <div class="col-sm-5">
                          <div class="way_main">
                            <h1 class="way_text">WAY REALESTATE</h1>
                            <div class="way_main_text">
                                            <ul>
                                                <li class="active"><a href="#">01</a></li>
                                                <li><a href="#">02</a></li>
                                            </ul>
                              </div>
                            </div>
                          </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container-fluid"></div>
                            <div class="row">
                        <div class="col-sm-7 padding_0">
                          <div class="taital_main">
                           
                          </div>
                          
                        </div>
                        <div class="col-sm-5">
                          <div class="way_main">
                            <h1 class="way_text">WAY REALESTATE</h1>
                            <div class="way_main_text">
                                            <ul>
                                                <li class="active"><a href="#">01</a></li>
                                                <li><a href="#">02</a></li>
                                            </ul>
                              </div>
                            </div>
                          </div>
                            </div>
                    </div>
                </div>
            </div>
    </div>
  
</div>

<!--Realestates-->
<div class="realestates-section layout-padding">
  <div class="container-fluid">
    <div class="realestates-bg">
      <div class="container">

        <br/><br>
        <h1 class="realestates-title">Orientation Professionnelle <span style="color: #040403"> et Académique</span></h1>
        <p class="contrary-title">SpeciAssist est dédiée à vous aider à explorer vos intérêts, compétences et aspirations académiques et professionnelles. Que vous soyez à la recherche d'une carrière enrichissante ou d'une voie académique prometteuse, notre plateforme est conçue pour vous fournir des recommandations personnalisées basées sur vos réponses à nos questionnaires détaillés. Découvrez des opportunités passionnantes qui correspondent à vos talents et objectifs, et commencez votre parcours vers un avenir épanouissant</p>
      </div>
      <div class="realestates-section-2">
        <div class="row">
          <div class="col-lg-4">
            <div class="images-4">
              <div class="images-7"><img src="/assets/carreer.webp" class="img-fluid"></div>
             
            </div>
            <div class="home-taital-main active">
              <h1 class="price-text active">Découvrir des carrières</h1>
               <h3 class="home-text">Que vous soyez à la recherche d'une nouvelle opportunité stimulante ou que vous souhaitiez faire évoluer votre carrière dans un domaine spécifique, notre plateforme offre des possibilités adaptées à chaque étape de votre parcours académique et professionnelle</h3>
             
            </div>
          </div>
          <div class="col-lg-4">
            <div class="images-5">
              <div class="images-7"><img src="/assets/formation.jpg" class="img-fluid"></div>
             
            </div>
            <div class="home-taital-main">
               <h1 class="price-text">Rechercher des formations</h1>
              <h3 class="home-text">Que vous cherchiez à explorer de nouveaux domaines d'apprentissage ou à approfondir vos compétences dans un sujet spécifique, notre plateforme offre une variété d'options adaptées à vos objectifs éducatifs à chaque étape de votre parcours.</h3>
             </div>
          </div>
          <div class="col-lg-4">
            <div class="images-6">
              <div class="images-7"><img src="/assets/mentor.jpg" class="img-fluid"></div>
              
            </div>
            <div class="home-taital-main">
              <h1 class="price-text">Connexion avec des mentors</h1>
              <h3 class="home-text">Connectez-vous avec des mentors expérimentés et des guides académiques pour bénéficier de leurs conseils avisés et les intégrer à votre parcours éducatif et professionnel, chaque étape étant soigneusement accompagnée.</h3>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--About-->
<div class="about_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="about_text">A propos de <span style="color: #0c0b05;">Nous</span></h1>
        <p class="lorem_text">SpeciAssist est une plateforme innovante dédiée à l'orientation professionnelle et académique. Notre mission est de fournir aux utilisateurs un accès simplifié et personnalisé à des informations essentielles pour leur développement de carrière et leur parcours académique. Nous nous engageons à offrir des outils d'analyse avancés et une expérience utilisateur enrichissante, permettant à chacun de découvrir et de réaliser son potentiel professionnel.</p>
        <!-- <div class="read_bt"><a href="#">Read More</a></div> -->
      </div>
      <div class="col-md-6">
        <div class="image_8"><img src="/assets/about.jfif"></div>
      </div>
    </div>
  </div>
</div>
<br/><br/>
<!--Properties-->
<br/><br/>
<div class="properties_section layout_padding">
  <div class="container">
    <br/><br/>
    <!-- <h1 class="properties_text">Properties</h1> -->
    <!-- <p class="ipsum_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in
piece of classical Latin literature from 45 BC, making it over 2000 years Contrary to popular belief, Lorem Ipsum is not simply random</p>
        <div class="properties_section_2">
          <div class="container">
            <div class="images_main">
                <div class="images_left custom_box-style"></div>
                <div class="images_middle custom_box-style"></div>
                <div class="images_right custom_box-style"></div> -->
              </div>
          </div>
    


<!--Contact US-->

<div class="contact_section layout_padding" id="contact-section">
  <div class="container">
    <h1 class="contact_text">Contactez <span style="color: #050402;">Nous</span></h1>
    <div class="contact_section_2">
      <div class="row">
        <div class="col-md-7">
          <div class="mail_main">
                        <form action="/action_page.php">
                          <div class="form-group">
                            <input type="text" class="email-bt" placeholder="Name" name="Name">
                          </div>
                          <div class="form-group">
                            <input type="text" class="email-bt" placeholder="Email" name="Email">
                          </div>
                          <div class="form-group">
                            <input type="text" class="email-bt" placeholder="Subject" name="Subject">
                          </div>

                        </form>
                        <div class="send_btn">
                          <div class="main_bt"><a href="#">Envoyer</a></div>
                        </div>
                    </div>
        </div>
        <div class="col-md-5">
          <div class="waye_main">
            <h1 class="waye_taital">Speci</h1>
            <p class="waye_text">Assist</p>
          </div>
          <h2 class="best_text">Meilleur moyen de trouver votre Orientation!</h2>
        </div>
      </div>
    </div>
  </div>
</div> 


<!--Footer-->

<div class="footer_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1 class="addres_text">Adresse</h1>
        <div class="call_text"><i class="bi bi-telephone-fill"></i><span class="padding_left_0">+223 67675453</span></div>
        <div class="call_text"><i class="bi bi-geo-alt-fill"></i><span class="padding_left_0">Bamako, Mali</span></div>
         </div>
      <div class="col-sm-4 border_left_0">
        <h1 class="addres_text">Nos Liens</h1>
        <div class="footer_menu">
          <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!--Copyright-->
<div class="copyright_section">
  <div class="container">
    <p class="copyright_text">Copyright 2022 All Rights Reserved Design By Tima</p>
  </div>
</div>  



