<section class="hero" style="background-image: url('/assets/job.png');">
  <div class="hero-content">
    <h1>Bienvenue </h1>
    <div class="cta-buttons">
      <button routerLink="/connexion" class="btn btn-primary">Se connecter</button>
      <a routerLink="/register" class="btn btn-secondary">S'inscrire</a>
    </div>
    <p>Explorez, découvrez et réalisez votre potentiel.</p>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="feature" style="background-image: url('/assets/carreer.webp');">
      <h2>Découvrir des carrières</h2>
      <p>Explorez une variété de carrières passionnantes et découvrez celles qui correspondent le mieux à vos intérêts et compétences.</p>
      <i class="fas fa-search"></i>
    </div>
    <div class="feature" style="background-image: url('/assets/formation.jpg');">
      <h2>Rechercher des formations</h2>
      <p>Parcourez une large gamme de programmes éducatifs et trouvez celui qui vous aidera à atteindre vos objectifs académiques et professionnels.</p>
      <i class="fas fa-graduation-cap"></i>
    </div>
    <div class="feature" style="background-image: url('/assets/mentor.jpg');">
      <h2>Connexion avec des mentors</h2>
      <p>Établissez des contacts avec des professionnels expérimentés et des mentors académiques pour obtenir des conseils précieux sur votre parcours.</p>
      <i class="fas fa-users"></i>
    </div>
    <div class="feature" style="background-image: url('/assets/question.jpg');">
      <h2>Besoin d'aide pour choisir votre orientation ?</h2>
      <p>Répondez à nos questions et obtenez des conseils personnalisés pour votre parcours académique et professionnel.</p>
    </div>
  </div>
</section>

