<button mat-button (click)="goBack()">Retour au profil</button>
<div class="career-details-container" *ngIf="formationDetails">
  <!-- Header Section -->
  <div class="career-header">
    <h1>{{ formationDetails.titre }}</h1>
  </div>

  <!-- Establishments, Duration and Price Section -->
  <div class="career-info-top">
    <div class="info-section establishment-section">
      <i class="bi bi-building"><i class="bi bi-building"></i><i class="bi bi-building"></i></i>
      <h2>Établissements</h2>
      <ul>
        <li *ngFor="let etablissement of formationDetails.etablissements">
          {{ etablissement.code_libelle }} - {{ etablissement.lieu }}
        </li>
      </ul>
    </div>
    <br/><br/>
    <div class="info-section duration-section">
      <i class="bi bi-clock"><i class="bi bi-clock"></i><i class="bi bi-clock"></i></i>
      <h2>Durée</h2>
      <p>{{ formationDetails.duree }}</p>
    </div>
    <br/><br/>
    <div class="info-section price-section">
      <i class="bi bi-currency-dollar"><i class="bi bi-currency-dollar"></i><i class="bi bi-currency-dollar"></i></i>
      <h2>Prix</h2>
      <p>{{ formationDetails.prix }}</p>
    </div>
  </div>

  <br/><br/>

  <!-- Description Section -->
  <div class="info-section description-section">
    <h2>Description</h2>
    <p>{{ formationDetails.description }}</p>
  </div>
  <br /><br />
  <!-- Content Section -->
  <div class="info-section">
    <h1 class="font-weight-bold">Contenu</h1>
    <p>{{ formationDetails.contenu }}</p>
  </div>
  <br /><br />
  <!-- Associated Careers Section -->
  
  <h1 class="font-weight-bold">Carrières disponibles</h1>
  <div class="scrollable-formations">
    <div class="formation-row">
      <div class="formation-card" [style.backgroundImage]="'url(' + carriere.image + ')'" *ngFor="let carriere of careers"
       (click)="viewCareerDetails(carriere.nom)">
        <h2>{{ carriere.nom }}</h2>
      </div>
    </div>
  </div>
 
  <br /><br />

  <!-- Associated Courses Section -->
  <div class="info-section">
    <h1 class="font-weight-bold">Cours Associés</h1>
    <ul>
      <li *ngFor="let cours of coursList">
        <a [href]="cours.urlCours" target="_blank">{{ cours.titre }}</a>
      </li>
    </ul>
  </div>

  <!-- Comments Section -->
  <div class="comment-section">
    <h1 class="font-weight-bold">Commentaires</h1>
    <div class="comment-container" *ngFor="let commentaire of commentaires">
      <p class="comment-header"><strong>{{ commentaire.user?.nom }} {{ commentaire.user?.prenom }}:</strong></p>
      <p class="comment-content">{{ commentaire.contenu }}</p>
      <p class="comment-date"><em>Publié le {{ commentaire.datePublication | date: 'short' }}</em></p>
    </div>
    <div *ngIf="currentUser" class="comment-form">
      <textarea [(ngModel)]="commentContent" placeholder="Ajoutez un commentaire..."></textarea>
      <button (click)="addCommentaire()">Publier</button>
    </div>
  </div>
</div>
