<!-- src/app/connexion/connexion.component.html -->
<div class="header_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <img src="/assets/logo.png" alt="Logo" class="logo">  
      </div>
      <div class="col-md-9">
        <div class="menu_text">
          <ul class="head">
            <li class="active"><a href="index.html">ACCUEIL</a></li>
            <li><a routerLink="/connexion">CONNEXION</a></li>
            <li><a routerLink="/register">INSCRIPTION</a></li>
            <li><a href="#contact-section">CONTACTEZ-NOUS</a></li>
          </ul>
        </div>  
      </div>
    </div>
  </div>
</div>

<div class="background-container">
  <div class="main">
    <p class="sign" align="center">CONNEXION</p>
    <br/>
    <form class="form1" (ngSubmit)="submitForm()">
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <input class="un" type="text" align="center" placeholder="Nom d'utilisateur" [(ngModel)]="formData.username" name="username" required>
      <input class="pass" type="password" align="center" placeholder="Mot de Passe" [(ngModel)]="formData.password" name="password" required>
      <button type="submit" class="submit" align="center">Se connecter</button>
      <p class="forgot" align="center"><a routerLink="/register">Vous n'avez pas de compte? Inscrivez-vous dès maintenant!</a></p>
    </form>
  </div>
</div>

