<div class="background-image"></div>
<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
</div>
<div *ngIf="warningMessage" class="warning-message">
  <p>{{ warningMessage }}</p>
</div>
<div class="navigation">
  <a routerLink="/profile" class="profile-link">Profile</a>
</div>
<div *ngIf="currentQuestionnaire; else loading" class="questionnaire-container">
  <h2 class="questionnaire-title">{{ currentQuestionnaire.titre }}</h2>
  <div *ngFor="let question of currentQuestionnaire.questions" class="question-block">
    <h3 id="question-{{ question.id }}" class="question-title">{{ question.libelle }}</h3>
    <ul class="answer-list">
      <li *ngFor="let reponse of question.reponseQuestions" class="answer-item">
        <label>
          <input 
            type="radio" 
            name="question{{ question.id }}" 
            [value]="reponse.contenu" 
            (change)="onAnswerSelect(question.id, reponse.contenu)" 
            [checked]="selectedAnswers[question.id] === reponse.contenu"
            class="answer-input"
          />
          {{ reponse.contenu }}
          <span *ngIf="reponse.contenu === 'Autre (spécifiez) ______________' && selectedAnswers[question.id] === 'Autre (spécifiez) ______________'">
            <input 
              type="text" 
              [(ngModel)]="otherAnswers[question.id]" 
              name="question{{ question.id }}_other" 
              class="other-answer-input"
            />
            <button (click)="validateOtherAnswer(question.id)" class="validate-button">Valider</button>
          </span>
        </label>
      </li>
    </ul>
  </div>
  <button (click)="completeCurrentQuestionnaire()" class="submit-button"> <i class="bi bi-arrow-right-circle"></i></button>
</div>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>

