<app-header></app-header>
<div class="formation-container">
  <app-sidebar></app-sidebar>

  
  <div class="admin-content">
    <h1><strong>LISTE DES FORMATIONS</strong></h1>
    <!-- Le reste de votre contenu de la page "Liste des formations" -->
    
    <br/>
    <button class="btn btn-success" (click)="openAddFormationDialog()">+ Ajouter une formation</button>
    <br/>
    <br/>
    <table class="table table-bordered table-striped">
      <!-- Entêtes de tableau -->
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Durée</th>
          <th scope="col">Prix</th>
          <th scope="col">Actions</th> <!-- Nouvelle colonne pour les actions -->
        </tr>
      </thead>
      <!-- Corps du tableau -->
      <tbody>
        <!-- Boucle sur la liste des formations -->
        <tr *ngFor="let formation of formations">
          <!-- Affichage des données de la formation -->
          <td>{{ formation.id }}</td>
          <td>{{ formation.titre }}</td>
          <td>{{ formation.duree }}</td>
          <td>{{ formation.prix }}</td>
          <!-- Actions pour chaque formation -->
          <td>
            <div class="action-buttons">
            <button class="btn btn-primary" (click)="openEditDialog(formation)">
              <i class="bi bi-pencil"></i> 
            </button>
           <!-- <button type="button" class="btn btn-success" (click)="updateFormation()">
              <i class="bi bi-check"></i>
            </button> -->
            <button class="btn btn-danger" (click)="confirmDeleteFormation(formation)">
              <i class="bi bi-trash"></i> 
            </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

      <!--Pagination-->
      <mat-paginator [length]="formations.length"
      [pageSize]="10"
      (page)="loadMoreFormations($event)"
      [pageSizeOptions]="[10, 20, 50]">
</mat-paginator>
  </div>
</div>
