<div class="mentor-container">
  <div class="sidebar" [class.active]="menuOpen">
    <ul>
      <button><a routerLink="/admin"><i class="bi bi-arrow-left-circle"></i></a></button>
      <li><a routerLink="/users">Liste des Utilisateurs</a></li>
      <li><a routerLink="/adduser">Ajouter un Utilisateur</a></li>
      <li><a routerLink="/cours">Liste des cours</a></li>
      <li><a routerLink="/formation">Liste des formations</a></li>
      <li><a routerLink="/careers">Liste des carrières</a></li>
      <li><a routerLink="/mentors">Les mentors</a></li>
      <li><a routerLink="/questionnaire">Liste des questionnaires</a></li>
      <!-- Ajoutez d'autres liens ici -->
    </ul>
  </div>
  
  <div class="admin-content">
  <h1>Liste des questionnaires</h1>
  <button class="btn btn-success mb-3" (click)="openAddQuestionnaireDialog()">
    <i class="bi bi-plus"></i> Ajouter un questionnaire
  </button>
  <div *ngFor="let questionnaire of questionnaires">
    <h2>{{ questionnaire.titre }}</h2>
    <div *ngIf="selectedQuestionnaireId === questionnaire.id">
      <ul>
        <li *ngFor="let question of questionsMap.get(selectedQuestionnaireId)">
          {{ question.libelle }}
          <button class="btn btn-success btn-sm" (click)="addResponse(question, question.id)">Ajouter une réponse</button>
          <ul>
            <li *ngFor="let reponse of question.reponseQuestions">
              {{ reponse.contenu }}
            </li>
          </ul>
          <br/><br/>
        </li>
      </ul>
    </div>
    <button class="btn btn-primary" (click)="editQuestionnaire(questionnaire)">
      <i class="bi bi-pencil"></i>
    </button>
    <button class="btn btn-danger" (click)="confirmDeleteQuestionnaire(questionnaire)">
      <i class="bi bi-trash"></i>
    </button>
    <button class="btn btn-info" (click)="showQuestions(questionnaire.id)">
      <i class="bi bi-eye"></i> 
    </button>
  </div>
</div>
