<app-header></app-header>
<div class="mentor-container">
  <div class="sidebar" [class.active]="menuOpen">
   
      <app-sidebar></app-sidebar>
  </div>
  
  <div class="admin-content">
  <h1><strong>LISTE DES QUESTIONNAIRES</strong></h1>
  <button class="btn btn-success mb-3" (click)="openAddQuestionnaireDialog()">
    <i class="bi bi-plus"></i> Ajouter un questionnaire
  </button>
  <div *ngFor="let questionnaire of questionnaires">
    <div class="questionnaire-header">
      <h2>{{ questionnaire.titre }}</h2>
      <button class="btn btn-primary" (click)="editQuestionnaire(questionnaire)">
        <i class="bi bi-pencil"></i>
      </button>
      <button class="btn btn-danger" (click)="confirmDeleteQuestionnaire(questionnaire)">
        <i class="bi bi-trash"></i>
      </button>
      <button class="btn btn-info" (click)="showQuestions(questionnaire.id)">
        <i class="bi bi-eye"></i> 
      </button>
    </div>
    <div *ngIf="selectedQuestionnaireId === questionnaire.id">
      <ul>
        <li *ngFor="let question of questionsMap.get(selectedQuestionnaireId)">
          {{ question.libelle }}
          <button class="btn btn-success btn-sm" (click)="addResponse(question, question.id)">Ajouter une réponse</button>
          <ul>
            <li *ngFor="let reponse of question.reponseQuestions">
              {{ reponse.contenu }}
            </li>
          </ul>
          <br/><br/>
        </li>
      </ul>
    </div>
    
  </div>
</div>
