/* Dans votre fichier CSS */
.mentor-container {
    display: flex;
  }
  
  .sidebar {
    width: 250px; /* ou la largeur souhaitée */
    height: 100vh;
    background-color: #ffffff; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    transition: all 0.3s ease;
    overflow-y: auto; /* Activation du défilement vertical si nécessaire */
  }
  
  .sidebar ul {
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  
  .admin-content {
    flex-grow: 1; /* Utilisation de tout l'espace disponible */
    padding: 20px;
  }
  
  .btn{
    margin-left: 20px;
  }

  .questionnaire-header {
    display: flex; /* Utilise une disposition flexbox */
    align-items: center; /* Aligne les éléments verticalement */
  }
  
  .questionnaire-header h2 {
    margin-right: auto; /* Pousse le titre à gauche, laissant les boutons à droite */
  }
  
  .questionnaire-header button {
    margin-left: 10px; /* Ajoute un espace entre les boutons */
  }

  .btn-success{
    background-color: #0d6efd;
  }
  
  