<!-- questionnaire-list.component.html -->

<div class="container">
  <h1>Liste des questionnaires</h1>
  <button class="btn btn-success mb-3" (click)="openAddQuestionnaireDialog()">
      <i class="bi bi-plus"></i> Ajouter un questionnaire
  </button>
  <div *ngFor="let questionnaire of questionnaires">
    <h2>{{ questionnaire.titre }}</h2>
    <div *ngIf="selectedQuestionnaireId === questionnaire.id">
      <ul>
        <li *ngFor="let question of questionsMap.get(selectedQuestionnaireId)">
          {{ question.libelle }}
          <button class="btn btn-secondary" (click)="showResponses(question.id)">Voir les réponses</button>
  
        </li>
      </ul>
    </div>
    <button class="btn btn-primary" (click)="editQuestionnaire(questionnaire)">
      <i class="bi bi-pencil"></i>
    </button>
    <button class="btn btn-danger" (click)="confirmDeleteQuestionnaire(questionnaire)">
      <i class="bi bi-trash"></i>
    </button>
    <!-- Nouveau bouton pour afficher les questions -->
    <button class="btn btn-info" (click)="showQuestions(questionnaire.id)">
      <i class="bi bi-eye"></i> 
    </button>
  </div>
</div>
