<h2 class="text-center">Ajouter un Établissement</h2>
<form class="add-course-form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="titre">Nom :</label>
    <input type="text" class="form-control" id="titre" [(ngModel)]="newEtablissement.nom" name="nom" required>
  </div>
  <div class="form-group">
    <label for="description">Lieu :</label>
    <input type="text" class="form-control" id="lieu" [(ngModel)]="newEtablissement.lieu" name="lieu" required>
  </div>
  <div class="form-group">
    <label for="duree">Téléphone :</label>
    <input type="text" class="form-control" id="telephone" [(ngModel)]="newEtablissement.telephone" name="telephone" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control"  id="email"  [(ngModel)]="newEtablissement.email"  name="email"placeholder="Enter your email address"
      required #email="ngModel">
      </div>
  <button type="submit" class="btn btn-primary">Ajouter</button>
  <button type="button" class="btn btn-secondary" (click)="onCancelClick()">Annuler</button>
</form>
