<div class="career-details-container" *ngIf="careerDetails">
    <div class="career-header">
      <h1>{{ careerDetails.nom }}</h1>
           <!--<img [src]="'/assets/' + careerDetails.img" alt="{{ careerDetails.nom }}" class="career-image">-->
    </div>
    <div class="career-info">
      <div class="info-section">
        <h2>Description</h2>
        <p>{{ careerDetails.description }}</p>
      </div>
      <div class="info-section">
        <h2>Secteur</h2>
        <p>{{ careerDetails.secteur }}</p>
      </div>
      <div class="info-section">
        <h2>Compétences requises</h2>
        <ul>
          <li *ngFor="let competence of careerDetails.competences_requises.split(',')">{{ competence.trim() }}</li>
        </ul>
      </div>
      <div class="info-section">
        <h2>Salaire</h2>
        <p>{{ careerDetails.salaire }}</p>
      </div>
    </div>
  </div>
  