<button mat-button class="btn-logout" (click)="logout()">
  Déconnexion
</button>
<div class="mentor-profile-container">
  <div class="header text-center">
    <div class="mentor-info">
      <h1>{{ prenom }} {{ nom }}</h1>
      <h2>Spécialité: {{ specialite }}</h2>
    </div>
    <div class="contacts">
      <h3>Contacts</h3>
      <p>Email: {{ mail }}</p>
    </div>
    
    <button class="btn-envelope" (click)="openMessagesDialog(currentUser, messages)">
      <i class="bi bi-envelope"></i>
    </button>
  </div>

  <button class="btn-add-video" (click)="ajouterVideo()">
    <i class="bi bi-camera-video"></i> Ajouter une vidéo
  </button>

  <div class="video-list">
    <h2>Vos Vidéos</h2>
    <div class="video-container">
      <div *ngFor="let video of videos" class="video-item">
        <p>{{ video.title }}</p>
        <video *ngIf="video.url !== undefined" width="320" height="240" controls>
          <source [src]="video.url" type="video/mp4">
          Votre navigateur ne supporte pas la balise vidéo.
        </video>
        <button *ngIf="video.url !== undefined" (click)="supprimerVideo(video.id)" class="btn btn-danger">Supprimer</button>
        <button *ngIf="video.url !== undefined" (click)="modifierVideo(video)" class="btn btn-secondary">Modifier</button>
      </div>
    </div>
  </div>

  <button class="btn-add-video" (click)="openAddCourseDialog()">
    <i class="bi bi-file-earmark-pdf"></i> Ajouter un cours
  </button>

  <div class="course-list">
    <h2>Vos Cours</h2>
    <ul>
      <li *ngFor="let course of courses.slice(0, showMoreCourses ? courses.length : 1)">
        <h3>{{ course.titre }}</h3>
        <p>{{ course.description }}</p>
        <button (click)="supprimerCours(course.id)" class="btn btn-danger">Supprimer</button>
        <button (click)="openEditDialog(course)" class="btn btn-secondary">Modifier</button>
      </li>
    </ul>
    <button *ngIf="courses.length > 1" class="btn btn-secondary" (click)="toggleMoreCourses()">
      {{ showMoreCourses ? 'Voir moins de cours' : 'Voir plus de cours' }}
    </button>
  </div>
</div>
