<!-- edit-carriere-dialog.component.html -->

<h2 class="text-center mb-4">Modifier la formation</h2>
<form class="edit-carriere-form" (ngSubmit)="onSubmit()">
  <div class="dialog-content scrollable-content">
  <div class="form-group">
    <label for="nom"><strong>Titre:</strong></label>
    <input type="text" class="form-control" id="nom" [(ngModel)]="editedFormation.titre" name="titre" required>
  </div>
  <div class="form-group">
    <label for="description"><strong>Description:</strong></label>
    <textarea class="form-control" id="description" [(ngModel)]="editedFormation.description" name="description" rows="4" required></textarea>
  </div>
  <div class="form-group">
    <label for="secteur"><strong>Contenu:</strong></label>
    <input type="text" class="form-control" id="secteur" [(ngModel)]="editedFormation.contenu" name="contenu" required>
  </div>
  <div class="form-group">
    <label for="competences_requises"><strong>Durée:</strong></label>
    <input type="text" class="form-control" id="competences_requises" [(ngModel)]="editedFormation.duree" name="duree" required>
  </div>
  <div class="form-group">
    <label for="salaire"><strong>Prix:</strong></label>
    <input type="text" class="form-control" id="salaire" [(ngModel)]="editedFormation.prix" name="prix" required>
  </div>

  <div class="form-group">
    <label>Établissements :</label>
    <div *ngFor="let etablissement of etablissements">
      <input type="checkbox" [value]="etablissement.id" 
             (change)="onEtablissementSelectionChange(etablissement, $event)"
             [checked]="isEtablissementSelected(etablissement)"
             name="etablissement-{{etablissement.id}}">
      {{etablissement.nom}}-{{etablissement.lieu}}
    </div>
  </div>
</div>
  
  <button type="submit" class="btn btn-primary">Enregistrer</button>
  <button type="button" class="btn btn-secondary" (click)="onCancelClick()">Annuler</button>
</form>
