.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-content {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .admin-content {
    margin-left: 250px;
    padding: 1rem;
    width: calc(100% - 250px);
    overflow-y: auto;
    margin-top: 70px;

    .dashboard-cards {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      .card {
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        flex: 1;
        margin: 0 1rem;
        text-align: center;

        h3 {
          margin-bottom: 1rem;
        }

        p {
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }

        span {
          color: #888;
        }
      }
    }

    .user-section {
      background-color: #cb24d1;
      box-shadow: 0 2px 4px rgba(172, 98, 168, 0.1);
    }

    .formation-section {
      background-color: #81b1f0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .course-section {
      background-color: #dd7a9b;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .carriere-section {
      background-color: #1fa197;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
