<div class="admin-container">
  <div class="menu-trigger" (click)="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="sidebar" [class.active]="menuOpen">
    <ul>
      <li><a routerLink="/users">List Users</a></li>
      <li><a routerLink="/adduser">Add User</a></li>
      <li><a routerLink="/questions">Liste des questions</a></li>
      <li><a routerLink="/formations">Liste des formations</a></li>
      <li><a routerLink="/careers">L'ensemble des carrières</a></li>
      <li><a routerLink="/mentors">Les mentors</a></li>
      <li><a routerLink="/questionnaire">Liste des questionnaires</a></li>
      <!-- Ajoutez d'autres liens ici -->
    </ul>
  </div>
  
  <div class="admin-content">
    <h1>ESPACE ADMINISTRATEUR</h1>
    <!-- Ajoutez d'autres éléments de contenu ici -->
  </div>
</div>
