<div class="admin-container">
  <!-- Header -->
  <app-header></app-header>

  <div class="main-content">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Admin Content -->
    <div class="admin-content">
      <div class="dashboard-cards">
        <div class="card user-section">
          <h3>Utilisateurs</h3>
          <p>{{ userCount }}</p>
          <span>Increased by 5%</span>
        </div>
        <div class="card course-section">
          <h3>Cours</h3>
          <p>{{ courseCount }}</p>
          <span>Increased by 10%</span>
        </div>
        <div class="card formation-section">
          <h3>Formations</h3>
          <p>{{ formationCount }}</p>
          <span>Increased by 3%</span>
        </div>
        <div class="card carriere-section">
          <h3>Carrieres</h3>
          <p>{{ carriereCount }}</p>
          <span>Increased by 3%</span>
        </div>
      </div>
      <div class="charts-section">
        <app-chart></app-chart>
      </div>
    </div>
  </div>
</div>
