.scrollable-form-container {
  max-width: 400px; /* Définit une largeur maximale pour le conteneur */
  margin: 0 auto; /* Centre le conteneur horizontalement sur la page */
  padding: 20px; /* Ajoute un peu d'espace intérieur autour du conteneur */
  overflow: hidden; /* Empêche le débordement horizontal */
}

.dialog-content {
  max-height: 70vh; /* Limite la hauteur maximale du contenu */
  overflow-y: auto; /* Ajoute un défilement vertical */
  padding-right: 15px; /* Ajoute un espace pour éviter que la barre de défilement cache le contenu */
}

.form-group {
  margin-bottom: 20px; /* Ajoute un espace entre chaque groupe de champs */
}

.form-group label {
  font-weight: bold; /* Rend les étiquettes en gras pour les mettre en évidence */
}

textarea {
  resize: vertical; /* Permet le redimensionnement vertical du champ de texte */
}

button {
  margin-right: 10px; /* Ajoute un espace à droite des boutons */
}

.btn-primary {
  margin-top: 10px; /* Ajoute un espace au-dessus du bouton Modifier */
}

.btn-secondary {
  margin-top: 10px; /* Ajoute un espace au-dessus du bouton Annuler */
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
