<div class="scrollable-form-container">
<h2 class="text-center">Ajouter une Carrière</h2>
<form class="add-career-form" [formGroup]="addCarriereForm" (ngSubmit)="onSubmit()">
  
    <div class="form-group">
      <label for="nom">Nom :</label>
      <input type="text" class="form-control" id="nom" formControlName="nom" required>
      <div *ngIf="addCarriereForm.get('nom')?.invalid && (addCarriereForm.get('nom')?.dirty || addCarriereForm.get('nom')?.touched)"
           class="text-danger">
        <small *ngIf="addCarriereForm.get('nom')?.errors?.required">Nom requis.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="description"><strong>Description:</strong></label>
      <textarea class="form-control" id="description" formControlName="description" rows="4" required></textarea>
      <div *ngIf="addCarriereForm.get('description')?.invalid && (addCarriereForm.get('description')?.dirty || addCarriereForm.get('description')?.touched)"
           class="text-danger">
        <small *ngIf="addCarriereForm.get('description')?.errors?.required">Description requise.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="secteur">Secteur :</label>
      <input type="text" class="form-control" id="secteur" formControlName="secteur" required>
      <div *ngIf="addCarriereForm.get('secteur')?.invalid && (addCarriereForm.get('secteur')?.dirty || addCarriereForm.get('secteur')?.touched)"
           class="text-danger">
        <small *ngIf="addCarriereForm.get('secteur')?.errors?.required">Secteur requis.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="competences_requises">Compétences requises :</label>
      <input type="text" class="form-control" id="competences_requises" formControlName="competences_requises" required>
      <div *ngIf="addCarriereForm.get('competences_requises')?.invalid && (addCarriereForm.get('competences_requises')?.dirty || addCarriereForm.get('competences_requises')?.touched)"
           class="text-danger">
        <small *ngIf="addCarriereForm.get('competences_requises')?.errors?.required">Compétences requises.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="salaire">Salaire :</label>
      <input type="text" class="form-control" id="salaire" formControlName="salaire" required>
      <div *ngIf="addCarriereForm.get('salaire')?.invalid && (addCarriereForm.get('salaire')?.dirty || addCarriereForm.get('salaire')?.touched)"
           class="text-danger">
        <small *ngIf="addCarriereForm.get('salaire')?.errors?.required">Salaire requis.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="image">Image :</label>
      <input type="text" class="form-control" id="image" formControlName="image" required>
      <div *ngIf="addCarriereForm.get('image')?.invalid && (addCarriereForm.get('image')?.dirty || addCarriereForm.get('image')?.touched)"
           class="text-danger">
        <small *ngIf="addCarriereForm.get('image')?.errors?.required">Image requise.</small>
      </div>
    </div>
    <div class="form-group">
      <label><strong>Formations associées :</strong></label>
      <div *ngFor="let formation of formations">
        <input type="checkbox" [value]="formation.id" (change)="onFormationSelectionChange(formation.id, $event)">
        {{ formation.titre }}
      </div>
    </div>
  
  <div class="dialog-actions">
    <button type="submit" class="btn btn-primary">Ajouter</button>
    <button type="button" class="btn btn-secondary" (click)="onCancelClick()">Annuler</button>
  </div>
</form>
</div>