<app-header></app-header>
<div class="cours-container">
  <app-sidebar></app-sidebar>

  <div class="admin-content">
    <h1><strong>LISTE DES COURS</strong></h1>
    <!-- Le reste de votre contenu de la page -->
    <button class="btn btn-primary" (click)="openAddCourseDialog()">Ajouter un cours</button>
    <br /><br />
    <!-- Tableau des cours -->
    <table class="table table-bordered table-striped">
      <!-- Entêtes de tableau -->
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Durée</th>
          <th scope="col">Niveau</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <!-- Corps du tableau -->
      <tbody>
        <!-- Boucle sur la liste des cours -->
        <tr *ngFor="let course of courses">
          <td>{{ course.id }}</td>
          <td>{{ course.titre }}</td>
          <td>{{ course.duree }}</td>
          <td>{{ course.niveau }}</td>
          <td>
            <div class="action-buttons">
            <!-- Boutons Modifier et Supprimer pour chaque cours -->
            <button class="btn btn-primary" (click)="openEditDialog(course)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="confirmDeleteCourse(course)">
              <i class="bi bi-trash"></i>
            </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

     <!--Pagination-->
     <mat-paginator [length]="courses.length"
     [pageSize]="10"
     (page)="loadMoreCourses($event)"
     [pageSizeOptions]="[10, 20, 50]">
</mat-paginator>
  </div>
</div>
