<div class="utilisateurs-container">
    <div class="sidebar" [class.active]="menuOpen">
      <ul>
        <button><a routerLink="/admin"><i class="bi bi-arrow-left-circle"></i></a></button>
        <li><a routerLink="/users">Liste des Utilisateurs</a></li>
        <li><a routerLink="/adduser">Ajouter un Utilisateur</a></li>
        <li><a routerLink="/cours">Liste des cours</a></li>
        <li><a routerLink="/formation">Liste des formations</a></li>
        <li><a routerLink="/etablissements">Liste des Établissements</a></li>
        <li><a routerLink="/careers">Liste des carrières</a></li>
        <li><a routerLink="/mentors">Les mentors</a></li>
        <li><a routerLink="/questionnaire">Liste des questionnaires</a></li>
        <!-- Ajoutez d'autres liens ici -->
      </ul>
    </div>
    
    <div class="admin-content">
      <h1>Liste des utilisateurs</h1>
      <!-- Le reste de votre contenu de la page -->
      <button class="btn btn-dark"><a class="btn btn-white" routerLink="/adduser">Ajouter un nouvel utilisateur</a></button>
  
      <!-- Tableau des utilisateurs -->
      <br/><br/>
      <table class="table table-bordered table-striped">
        <!-- Entêtes de tableau -->
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Rôles</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th> 
          </tr>
        </thead>
        <!-- Corps du tableau -->
        <tbody>
          <tr *ngFor="let user of dataSource.data">
            <td>{{ user.id }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.status ? 'Actif' : 'Inactif' }}</td>
            <td>
              <div class="action-buttons">
              <!-- Boutons Modifier et Supprimer pour chaque utilisateur -->
              <button class="btn btn-primary" (click)="updateUser()"><i class="bi bi-pencil"></i></button>
              <button class="btn btn-danger" (click)="confirmDeleteUser(user)"><i class="bi bi-trash"></i></button>
              <!-- Bouton d'activation/désactivation -->
              
              <button class="btn" (click)="toggleUserStatus(user)"> 
                <span *ngIf="user.status" class="fa fa-toggle-on text-success"><i class="bi bi-toggle-on"></i></span>
                <span *ngIf="!user.status" class="fa fa-toggle-off text-danger"><i class="bi bi-toggle-off"></i></span> 
              </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  
      <!-- Pagination -->
      <mat-paginator [length]="users.length"
                     [pageSize]="10"
                     (page)="loadMoreUsers($event)"
                     [pageSizeOptions]="[10, 20, 50, 100]">
      </mat-paginator>
    </div>
  </div>
  