.messages-dialog {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .scrollable-content {
    max-height: 400px; /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto;
    padding-right: 10px; /* Pour éviter le chevauchement avec la barre de défilement */
  }

  .message {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    p {
      margin: 5px 0;
      color: #555;

      strong {
        color: #333;
      }

      em {
        font-size: 0.9em;
        color: #999;
      }
    }

    .reply-textarea {
      width: 100%;
      height: 80px;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ddd;
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
      resize: vertical;

      &:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
      }
    }

    .send-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 8px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
