.admin-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-content {
    flex: 1;
    padding: 20px; /* Ajustez selon votre mise en page */
  }

  .h2 {
    text-align: center;
  }