<div class="header_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <img src="/assets/logo.png" alt="Logo" class="logo">
      </div>
      <div class="col-md-9">
        <div class="menu_text">
          <ul>
            <li class="active"><a href="index.html">ACCUEIL</a></li>
            <li><a routerLink="/connexion">CONNEXION</a></li>
            <li><a routerLink="/register">INSCRIPTION</a></li>
            <li><a href="contact.html">CONTACTEZ-NOUS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="background-container">
  <div class="main">
    <p class="sign" align="center">Inscription</p>
    <form class="form1" (ngSubmit)="submitForm()">
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="usernameExistsError" class="error-message">{{ usernameExistsError }}</div>
      <input class="un" type="text" align="center" placeholder="Nom" [(ngModel)]="formData.nom" name="firstName" required>
      <input class="un" type="text" align="center" placeholder="Prenom" [(ngModel)]="formData.prenom" name="lastName" required>
      <input class="un" type="text" align="center" placeholder="Nom d'utilisateur" [(ngModel)]="formData.username" name="username" required>
      <input class="un" type="email" align="center" placeholder="Email" [(ngModel)]="formData.mail" name="email" required>
      <input class="pass" type="password" align="center" placeholder="Mot de passe" [(ngModel)]="formData.password" name="password" required>
      <input class="pass" type="password" align="center" placeholder="Confirmer votre mot de passe" [(ngModel)]="formData.confirmPassword" name="confirmPassword" required>
      <select class="un" id="role" name="role" [(ngModel)]="formData.role" required>
        <option value="" disabled selected hidden>Rôle</option>
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
        <option value="MENTOR">MENTOR</option>
      </select>
      <button type="submit" class="submit" align="center">S'inscrire</button>
      <p class="forgot" align="center"><a routerLink="/connexion">Vous avez déjà un compte? Connectez-vous ici!</a></p>
    </form>
  </div>
</div>

