<div class="header_section">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3">
            <img src="/assets/logo.png" alt="Logo" class="logo">  
          </div>
          <div class="col-md-9">
              <div class="menu_text">
                  <ul>
                    <li class="active"><a href="index.html">ACCUEIL</a></li>
                      <!-- <li><a href="about.html">ABOUT</a></li> -->
                      <li><a routerLink="/connexion">CONNEXION</a></li>
                      <li><a routerLink="/register">INSCRIPTION</a></li>
                      <li><a href="contact.html">CONTACTEZ-NOUS</a></li>
                  </ul>
              </div>  
              <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                  <a href="/home">HOME</a>
                  <a href="/connexion">LOGIN</a>
                  <a href="/register">REGISTER</a>
                  <a href="class.html">CONTACT US</a>
                </div>
              </div>
             
          </div>
      </div>
  </div>
</div>

<form class="form" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="firstName">Nom</label>
    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="formData.nom" required>
  </div>
  <div class="form-group">
    <label for="lastName">Prenom</label>
    <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="formData.prenom" required>
  </div>
  <div class="form-group">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="formData.username" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formData.mail" required>
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="formData.password" required>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirmer votre mot de passe</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="formData.confirmPassword" required>
  </div>
  <div class="form-group">
    <label for="role">Rôle</label>
    <select class="form-control" id="role" name="role" [(ngModel)]="formData.role" required>
      <option value="USER">USER</option>
      <option value="ADMIN">ADMIN</option>
      <option value="MENTOR">MENTOR</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">S'inscrire</button>
</form>
